<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee" 
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
	https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SessionLoginProj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.Servlet.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationFormServlet</display-name>
    <servlet-name>ApplicationFormServlet</servlet-name>
    <servlet-class>com.Servlet.ApplicationFormServlet</servlet-class>
    
        <multipart-config>
            <!-- Configure max file size, location, etc. -->
            <max-file-size>20848820</max-file-size> <!-- Max file size in bytes (20MB) -->
            <max-request-size>418018841</max-request-size> <!-- Max request size in bytes (40MB) -->
            <file-size-threshold>1048576</file-size-threshold> <!-- Threshold size before writing to disk (1MB) -->
        </multipart-config>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationFormServlet</servlet-name>
    <url-pattern>/ApplicationFormServlet</url-pattern>
  </servlet-mapping>
</web-app>